/* Google Fonts  */
/* Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Source Sans Pro  */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
/* Google Fonts  */


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(206, 206, 206);
}

.title{
    padding: 0.5rem;
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.center-div{
    display: flex;
    border: 2px solid black;
    margin: auto;
    margin-top: 0vh;
    width: 100vw;
    height: 100vh;
}

.left-side{
    padding: 5px;
    width: 50%;
    background-color: black;
    color: white;
    resize: horizontal;
    font-size: 1.2rem;
    caret-color: white;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.left-side::-webkit-resizer{
    display: hidden;
}

.right-side{
    width: 50%;
    background-color:white;
}

.markdown-body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
}

.footer{
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
@media (max-width: 767px) {
    .markdown-body {
        padding: 10px;
    }
}
